*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden; 
}
.card{
    
    width: 90%;
    max-width: 470px;
       background: none;
    color: #000000;
    margin: 100px auto 0;
    margin-top: 5px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background-image: url(n.jpeg);
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}


.search button{
    border: 0;
    outline: 0;
    color: white;
     background-image: url(n.jpeg);
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;


}

.search button img{
    margin-top: 6px;
    width: 20px;  
}

.weather-icon{
    width: 250px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    color: black;
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-left: -6px;

}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 20px;
    display: none;
} 


.loading {
    margin-top: 20px;
    margin-left: 150px;
    width: 48px;
    height: 48px;
    border: 6px solid #6d6060;        
    border-top-color: #000000;       
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display:none;

  }
  

  
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }



  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}